<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>May, 12.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49ACA8CB1CE47CC20063A405</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49ACA8E41CE47CC20063A405</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49ACA8EF1CE47CC20063A405</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
